<html>
  <body>
    <table>
      <tr><td>FQDN</td><td>OS</td><td>Architecture</td><td>Default IPv4</td></tr>
    {% for host in play_hosts | sort  %}
      <tr><td>{{ hostvars[host]['ansible_fqdn'] }}</td><td>{{ hostvars[host]['ansible_os_family'] }}</td><td>{{ hostvars[host]['ansible_architecture'] }}</td><td>{{ hostvars[host]['ansible_default_ipv4'].address }}</td></tr>
    {% endfor %}
    </table>
  </body>
</html>
