/-----------------------------
Welcome to the ansible managed host: {{ ansible_fqdn }}

Please use Ansible playbooks instead of doing manual modifications on the system.
-----------------------------/
