/-----------------------------
Welcome to the ansible managed host: {{ ansible_host }}

Please use Ansible playbooks instead of doing manual modifications on the system.
-----------------------------/
